/* Standard Elements */
html {
  font-size: 100.01%;
}

body {
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
}

h1,
h2,
h3 {
  color: #222222;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

p {
  margin: 0 0 1.5em;
  color: #797979;
}

em {
  font-style: italic;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

li ul,
li ol {
  margin: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* Custom Classes */
.top {
  margin-top: 0;
  padding-top: 0;
}

.right {
  float: right !important;
}

.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.left {
  float: left !important;
}